/* Стилі для списку ul */
ul {
  list-style-type: none; /* Відключає маркери списку */
  padding: 0; /* Відступи внутрішніх полів у списку */
}

/* Стилі для елементів списку li */
li {
  display: flex; /* Встановлюємо елементи в ряд */
  align-items: center; /* Вирівнюємо елементи по вертикалі */
  margin-bottom: 20px; /* Відступи між елементами списку */
}

/* Стилі для зображення */
li img {
  width: 150px; /* Задаємо ширину зображення актора */
  height: auto; /* Автоматична висота для зображення */
  margin-right: 15px; /* Відступ праворуч від зображення */
}

/* Стилі для заголовка h3 */
li h3 {
  margin: 0; /* Відступи між заголовком та іншими елементами */
}

/* Стилі для параграфів p */
li p {
  margin: 5px 0; /* Відступи для параграфів */
}
